# Environments & Secrets
.env
*.env
terraform.tfvars
*.tfvars

# Python Caching & Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Uploads & Media
uploads/

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Terraform Secrets, Cache & State
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform_hostinger/terraform.tfvars
terraform_hostinger/.terraform/
